* {
    box-sizing: border-box;
  }


body{

    background-color: blanchedalmond;
}

h1 {

    text-align: center;
}

form {
    text-align: center;
}

.hidden {

    display: none; 
}

img{
    margin-left: 35%;
    width: 300px;
}

h3 {

    text-align: center;
}


span{font-size: 25px;
    font-style: italic;
color: brown}

.hidden2{
    margin-left: 17%;
    margin-right: 17%;
    
}

h1{

    margin-top: 100px;
}