* {
    box-sizing: border-box;
  }


body{

    background-color: blanchedalmond;
}

h1 {

    text-align: center;
}

form {
    text-align: center;
}

.hidden {

    display: none; 
}

img{
    margin-left: 30%;

    height: 400px;
}

h3 {

    text-align: center;
}


